<div id='homepage'>
  <h1 class='main-heading text-centered'>Sign our petition to legally make Netflix offer The Office on every country permanently.</h1>
  <p class='subtitle text-centered'>It's time to take a stand, since The Office is one of the absolute most awesome series ever created, it is borderline criminal to not offer it everywhere, anywhere, anytime. We have had enough, Netflix, and we want
    YOU to notice.</p>

  <form action='signatures' method='post' class='signature-form'>
    <input type='hidden' name='signature' id='hidden' value='data:image/png;base64,hello' />
    <div id='canvas'></div>
    <button type='submit' class='signature-form__button'>Sign!</button>
  </form>
</div>