<div id='profile-page'>
  <span>Now tell us a little bit about yourself! (Totally optional)</span>
  <form action='/profile' method='post' class='signature-form'>
    <label for='age' class='signature-form__label text-centered'>Age</label>
    <input type='text' name='age' />
    <label for='city' class='signature-form__label text-centered'>City</label>
    <input type='text' name='city' />
    <label for='homepage' class='signature-form__label text-centered'>Homepage</label>
    <input type='text' name='homepage' />
    <button type='submit' class='signature-form__button'>Submit</button>
  </form>
</div>