<h1>Thank you!</h1>
<p>Thanks for signing</p>
<p>Your signature looks like:</p>
<img src={{signature}} alt='Your signature' class='thank-you__signature' />
<a href='/signatures'>See all signatures</a>